body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}
h2 {
    margin: 20px 0 10px;
    font-size: 24px;
}
.form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type=file] {
    display: none;
    margin-bottom: 10px;
}
.upload-area {
    border: 1px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease-in-out;
}
.upload-area:hover {
    background-color: #e0e0e0;
}
input[type=submit] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #555;
}
table {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
th {
    background-color: #333;
    color: #fff;
}
tr:hover {
    background-color: #e0e0e0;
}
section {
    margin: 20px auto;
    max-width: 800px;
}
#file-list {
    margin-top: 10px;
}

#file-list div {
    background-color: #e0e0e0;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

#file-list button {
    margin-left: 10px;
    cursor: pointer;
}

.loader {
    margin-right: 10px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

#loading {
    display: none;
    text-align: left;
    padding: 20px 0;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
