.main-container {
    display: flex;
}

.left-container {
    flex-basis: 68%;
}

header {
    background-color: #333;
    color: #070707;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}
h2 {
    text-align: center;
    margin: 50px;
    font-size: 28px;
    font-weight: normal;
}
h3 {
    margin: 40px 0 15px 0;
    font-size: 16px;
    color: #9d9d9d;
}
.form {
    padding: 40px;
    padding-top: 2px;
    background-color: #161616;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    margin-top: 50px;
    position: relative;
}

.form_1{
  display: flex;
}

.click-text {
    color: rgb(0, 132, 255);
    text-decoration: underline;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type=file] {
    display: none;
    margin-bottom: 10px;
}
.upload-area {
    border: 1px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #161616;
    transition: background-color 0.3s ease-in-out;
}
.upload-area:hover {
    background-color: #3e485d;
}
#upload-area.dragover {
    background-color: #ccdaf5;
    border: 2px dashed #840000;
}
input[type=submit] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #555555;
}
table {
    margin: 2px;
    padding: 20px;
    background-color: #161616;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}
th {
    color: #9d9d9d;
    border-bottom: 2px solid #9d9d9d;
}
tr:hover {
    background-color: #454545;
}
.final-row:hover{
    background-color: #454545;
}
.sub-column {
    color: #9d9d9d;
}
section {
    margin: 20px auto;
    max-width: 800px;
}
#file-list {
    margin-top: 10px;
}

#file-list div {
    background-color: #161616;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 2px;
}

#file-list button {
    margin-left: 10px;
    cursor: pointer;
}

#uploading {
    display: none;
}
.loader-div {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
}

#loading {
    display: none;
    text-align: left;
    padding: 20px 0;
    align-items: center;
}

#loading_1 {
  display: none;
  text-align: left;
  padding: 20px 0;
  align-items: center;
}

#url-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
}

#url-input{
    display: flex;
    justify-content: space-between;
}

#url{
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 5px;
    width: 400px;
    margin-top: 30px;
}

.url-label{
    margin-left: 5px;
    margin-top: 30px;
}

.url-button {
  background-color: #4dbbff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 50px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.url-button:hover {
  background-color: #2a8fd8;
  color: white;
}

.bin{
    color: red;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.bin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 16px;
    height: 16px;
    color: rgb(0, 132, 255);
}
#fileinfo {
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 10px;
}
#filename {
    margin: 5px;
}
#filelist {
    margin-top: 20px;
    display:none;
}
#fileitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 3px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}
#fileitem:hover{
    background-color: #e0e0e0;
}
.file-list {
    margin: 20px;
    padding: 20px;
    padding-top: 2px;
    background-color: #161616;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
}

.button {
    position: relative;
    width: 152px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #4d9aff;
    background-color: #4dbbff;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 20px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #309bf9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #309bf9;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2378ee;
  }
  
  .button:active {
    border: 1px solid #2378ee;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.lds-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 220px;
  height: 220px;
  margin: 18px;
  border: 12px solid rgb(178, 226, 75);
  border-radius: 50%;
  animation: lds-ring 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(178, 226, 75) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#submit-button {
  background-color: darkblue;
  color: white;
}

#submit-button:disabled {
  background-color: lightblue;
  color: darkblue;
}

body {
  background-color: #313131;
  color: rgb(237, 237, 237);
}