@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial.woff2') format('woff2'),
         url('fonts/questrial.woff') format('woff');
}

html, body {
    font-family: "Questrial", sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #1a1a1a; /* Dark background color */
}

.container {
    margin-left: 2%; /* Adjust as needed */
    margin-right: 2%; /* Adjust as needed */
}

.banner {
    background-color: #2a2d34; /* Darker gray for the banner */
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
}

.chatbot-header {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.chatbot-box {
    background-color: #ffffff;
    border: none;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 20px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bold */
}

a:has(.chatbot-box) {
    text-decoration: none;
    color: inherit;
}
.body { 
    padding-top: 150px; /* Adjusted to account for fixed banner */
    padding-left: 5%;
    padding-right: 5%;
}

.button_logout{
    background-color: #5C6BC0; /* Adjusted to a darker blue */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}



h1 {
    font-size: 2em; /* Bigger font for headings */
}

p {
    font-size: 1em;
}

/* New styles for dashboard metrics */
.dashboard-metrics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.metric-box {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 30%; /* Each metric box takes up a third of the width */
    text-align: center;
}

.metric-box p {
    margin: 0;
    font-size: 1em;
}

/* Adjusting the overall box styling */
.box {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 20px;
    margin: 20px 0;
    width: calc(100% - 40px); /* Full width minus padding */
}
