html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form-container {
    padding: 20% 5%; /* top, right, bottom, left */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .company-logo {
    max-height: 150px; /* Maximum height, but can be smaller to maintain aspect ratio */
    width: auto; /* Adjust width automatically to maintain aspect ratio */
    margin-bottom: 20px;
    display: block; /* Ensures the image is centered in its container */
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .top-ribbon {
    background-color: #111;
    height: 101px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    color: white;
    font-size: 40px;
  }
  
  
  body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Set a maximum width */
    margin: 50px auto;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
    input[type="text"], input[type="password"], input[type="email"] {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        width: 100%;
        max-width: 95%; /* Set a maximum width */
        margin-bottom: 20px;
    }
  
  button[type="submit"] {
    width: 40%; /* Set the width */
    background-color: rgb(178, 226, 75);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }