<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div>
  
    <!-- Upload form -->
    <section>
        
        
        <form class="form" class="form_1" action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
            <h2>Upload Documents</h2>
            <div id="form-content">
                <div class="upload-area" id="upload-area">
                    <img src="{{ url_for('static', filename='images/cloud-upload.png') }}" height="200" width="200" alt="Upload">
                    <label class="upload-label">Drag and drop files here or <span class="click-text" id="click-text">click</span> to choose a file:</label>
                    <input type="file" id="file" name="file" required multiple onchange="updateFileSizeAndCount();">
                    <label id="file-label">Choose file(s)</label>
                </div>
                <div id="uploading">
                    <h3>Uploading</h3>
                    <div id="file-list"></div>     
                    <input type="submit" value="Upload">
                </div>
            </div>
            
            <div id="loading">
                <div class="loader"></div>
                <p>Uploading...</p>
            </div>
        </form>   
    </section>

    <section>
        <h2>Existing Documents</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.id }}</td>
                        <td>{{ document.name }}</td>
                        <td>
                            <div class="bin-container">
                            <form action="/delete/{{ document.id }}" method="post" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this document?');">
                                <input class ="bin" type="image" src="{{ url_for('static', filename='images/bin.png') }}" alt="Submit">
                            </form>
                        </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    </div>
</body>
</html>