<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/analytics.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="top-ribbon">
        <span class="company-name">
            <a href="https://www.eccoai.org/">
                <img src="{{ url_for('static', filename='images/logoword2.png') }}" alt="Company Logo">
            </a>
        </span>
    </div>
    <div class="sidenav">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <button class="btns" id="admin" title="Documents" onclick="openNav()"><img src="{{ url_for('static', filename='images/paper (1).png') }}" height="50" width="50" alt="Documents"></button>
        <button class="btns" id="settings" title="Settings" onclick="openNav()"><img src="{{ url_for('static', filename='images/setting (1).png') }}" height="50" width="50" alt="settings"></button>
        <button class="btns" id="integrations" title="Integrations" onclick="openNav()"><img src="{{ url_for('static', filename='images/integration (1).png') }}" height="50" width="50" alt="integration"></button>
        <button class="btns" id="analytics" title="Analytics" onclick="openNav()"><img src="{{ url_for('static', filename='images/data-analytics (1).png') }}" height="50" width="50" alt="analytics"></button>
    </div>
    <section id="sidepanel">
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('admin', chatbot_id=chatbot_id) }}" id="admin" class="mgn-top">Documents</a>
            <a href="{{ url_for('settings', chatbot_id=chatbot_id) }}" id="settings" class="mgn">Settings</a>
            <a href="{{ url_for('integrations', chatbot_id=chatbot_id) }}" id="integrations" class="mgn">Integrations</a>
            <a href="{{ url_for('analytics', chatbot_id=chatbot_id) }}" id="analytics" class="mgn">Analytics</a>
        </div>              
    </section>
    <!-- Inside your HTML file --><!-- Inside your HTML file -->
    <h2 class="instructions">Response Feedback</h2>
    <div class="flex-container">
        <div class="questions-container">
            <div class="topics-container">
                <h3>Common Topics</h3>
                {% if common_topics is none %}
                    <p>No topics available.</p>
                {% else %}
                <!-- Add a reset button -->
                <button type="button" onclick="resetList()">
                    Reset
                </button>
                    {% for topic_cluster in common_topics %}
                        <button type="button" onclick="sendTopic('{{ topic_cluster }}')">
                            {{ topic_cluster }}
                        </button>                
                    {% endfor %}
                {% endif %}
            </div>
            <table>
                <tr>
                    <th>User Question</th>
                    <th>Bot Response</th>
                    <th>Feedback</th>
                    <th>Created At</th>
                    <!-- <th>Delete</th> -->
                </tr>
                {% for item in data %}
                    <tr class="question-row {{ 'like' if item['feedback_type'] == 'Like' else ('dislike' if item['feedback_type'] == 'Dislike' else 'none') }}">
                        <td class="user-question">{{ item['user_question'] }}</td>
                        <td>{{ item['bot_response']|safe }}</td>
                        <td>{{ item['feedback_type'] }}</td>
                        <td>{{ item['created_at'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
</body>
</html>