{% extends 'base.html' %}

{% block styles %}
    <title>Analytics</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark-mode.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <h1 class="mt-4">Analytics</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Chatbot Metrics</li>
    </ol>
    <div class="row">
        <!-- Leads Collected Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 pt-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Leads Collected</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unique_email_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('get_conversations', chatbot_id=chatbot_id) }}" class="footer-link" id="viewDetailsLink">
                    <div class="card-footer d-flex align-items-center justify-content-between bg-light px-3">
                        <span class="small text-black">View Details</span>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Common Topics Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Common Topics</div>
                            <div class="row">
                                {% for topic in common_topics[:3] %}
                                <div class="col text-xxs font-weight-bold text-gray-800 specialty bold">{{ topic }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Usage
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ remaining_percentage }}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: {{ remaining_percentage }}%" aria-valuenow="{{ remaining_percentage }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unique Users Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Unique Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unique_session_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Chatbot Uses Over Time
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Feedback From Users
                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Questions and Answers
        </div>
        <div class="card-body">
            <div class="upgrade-container" id="upgrade-container" style="display: none;">
                <p><b><a class="upgrade_button btn btn-sm" style="background-color: var(--dark-primary); color: var(--dark-on-primary); transition: background-color 0.3s ease; cursor: pointer; text-decoration: none; font-style: normal; outline: none;" onclick="window.open('https://billing.stripe.com/p/login/28obM8eCBcsRbxCcMM', '_blank');">Upgrade</a> your plan to see all questions and answers</b></p>
            </div>
            <table id="datatablesSimple" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User Question</th>
                        <th>Bot Response</th>
                        <th>Feedback</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr class="question-row {{ 'like' if item['feedback_type'] == 'Like' else ('dislike' if item['feedback_type'] == 'Dislike' else 'none') }}">
                        <td class="user-question">{{ item['user_question'] }}</td>
                        <td>{{ item['bot_response']|safe }}</td>
                        <td>{{ item['feedback_type'] }}</td>
                        <td>{{ item['created_at'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart-bar-demo.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    <script>
        var date_count = JSON.parse('{{ date_count | safe }}');
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#e0e0e0';

        var labels = Object.keys(date_count);
        var data = Object.values(date_count);

        var maxValue = Math.max(...data);
        var yAxisMax = Math.ceil(maxValue * 1.2);

        var totalQuestions = data.reduce((acc, currentValue) => acc + currentValue, 0);
        if (totalQuestions === 0) {
            maxValue = 1;
            yAxisMax = 1;
        }

        var ctx = document.getElementById("myAreaChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: data,
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            color: "rgba(255, 255, 255, 0.1)"
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: yAxisMax,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            color: "rgba(255, 255, 255, 0.1)",
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(32,32,32)",
                    bodyFontColor: "#e0e0e0",
                    titleFontColor: "#e0e0e0",
                    borderColor: "rgb(64,64,64)",
                    borderWidth: 1
                }
            }
        });
    </script>
    <script>
        var rows = document.querySelectorAll('.question-row');
        var counts = {like: 0, dislike: 0, none: 0};

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.classList.contains('like')) {
                counts.like++;
            } else if (row.classList.contains('dislike')) {
                counts.dislike++;
            } else if (!row.classList.contains('like') && !row.classList.contains('dislike')) {
                counts.none++;
            }
        }
        if (counts.dislike + counts.like + counts.none === 0) {
            counts.none = 1;
        }
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Like", "Dislike", "No Feedback"],
                datasets: [{
                    data: [counts.like, counts.dislike, counts.none],
                    backgroundColor: ['#4CAF50', '#FF5252', '#FFC107'],
                    borderColor: '#121212',
                    borderWidth: 2
                }],
            },
            options: {
                responsive: true,
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        fontColor: '#e0e0e0'
                    }
                },
                tooltips: {
                    backgroundColor: "rgb(32,32,32)",
                    bodyFontColor: "#e0e0e0",
                    borderColor: "rgb(64,64,64)",
                    borderWidth: 1
                }
            }
        });
            document.addEventListener('DOMContentLoaded', function() {
                var userPlan = "{{ subscription_item_id }}";
                var upgradeContainer = document.getElementById('upgrade-container');
                if (userPlan == 'price_1P9FIULO2ToUaMQEmx2wG1qC' || userPlan == 'price_1OuIu1LO2ToUaMQE7Prun5Xt') {
                    upgradeContainer.style.display = 'block';
                }
            });
            document.addEventListener('DOMContentLoaded', function() {
                if (typeof simpleDatatables !== 'undefined') {
                    new simpleDatatables.DataTable("#datatablesSimple", {
                        searchable: true,
                        fixedHeight: true,
                        perPage: 10,
                        footer: false,
                        labels: {
                            placeholder: "Search...",
                            perPage: " entries per page",
                            noRows: "No entries found",
                            info: "Showing {start} to {end} of {rows} entries",
                        }
                    });
                }
            });
    </script>

{% endblock %}