{% extends 'base.html' %}

{% block styles %}
    <title>Analytics</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <h1 class="mt-4">Analytics</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Chatbot Metrics</li>
    </ol>
    <div class="row">
        <!-- Leads Collected Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 pt-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Leads Collected</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unique_email_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('get_conversations', chatbot_id=chatbot_id) }}" class="footer-link" id="viewDetailsLink">
                    <div class="card-footer d-flex align-items-center justify-content-between bg-light px-3">
                        <span class="small text-black">View Details</span>
                        <div class="small text-black"><i class="fas fa-angle-right"></i></div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Common Topics Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Common Topics</div>
                            <div class="row">
                                {% for topic in common_topics[:3] %}
                                <div class="col text-xxs font-weight-bold text-gray-800 specialty bold">{{ topic }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Usage
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ remaining_percentage }}%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                            style="width: {{ remaining_percentage }}%" aria-valuenow="{{ remaining_percentage }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unique Users Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Unique Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unique_session_count }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Monthly Chatbot Uses
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Feedback From Users
                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Questions and Answers
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>User Question</th>
                        <th>Bot Response</th>
                        <th>Feedback</th>
                        <th>Created At</th>=
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>User Question</th>
                        <th>Bot Response</th>
                        <th>Feedback</th>
                        <th>Created At</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for item in data %}
                    <tr class="question-row {{ 'like' if item['feedback_type'] == 'Like' else ('dislike' if item['feedback_type'] == 'Dislike' else 'none') }}">
                        <td class="user-question">{{ item['user_question'] }}</td>
                        <td>{{ item['bot_response']|safe }}</td>
                        <td>{{ item['feedback_type'] }}</td>
                        <td>{{ item['created_at'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="myPopup" class="popup">
        <div class="popup-content" style="display: flex; flex-direction: column; justify-content: flex-end;">
            <p id="closePopup" class="close"></p>
            <h4>
                <b>To view this feature upgrade your plan</b>
            </h4>
            <p>With the starter account you will receive:</p>
            <ol style="line-height: 1.8; font-size: 1.25em; margin-left: 20px; list-style-type: decimal;">
                <li style="list-style: none;">1.) 3 Chatbots</li>
                <li style="list-style: none;">2.) 25 MB Storage</li>
                <li style="list-style: none;">3.) Lead Collection</li>
                <li style="list-style: none;">4.) Analytics</li>
                <li style="list-style: none;">5.) Chat GPT 4.0</li>
            </ol>
            <div style="display: flex; justify-content: center; align-items: center; border: none; width: 100%;">
                <a href="https://billing.stripe.com/p/login/28obM8eCBcsRbxCcMM" role="button" class="btn upgrade-button" style="width: 100%; background-color: rgb(18, 158, 18); color: #ffffff;"><b>Upgrade your plan</b></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
        <script>
            var date_count = JSON.parse('{{ date_count | safe }}');
            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#292b2c';

            var labels = Object.keys(date_count);
            var data = Object.values(date_count);

            var maxValue = Math.max(...data);
            var yAxisMax = Math.ceil(maxValue * 1.2);

            // Calculate the maximum value for the y-axis
            // var yAxisMax = maxValue * 1.2;  // 20% more than the maximum value


            // Area Chart Example
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                label: "Sessions",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: data,
                }],
            },
            options: {
                scales: {
                xAxes: [{
                    time: {
                    unit: 'date'
                    },
                    gridLines: {
                    display: false
                    },
                    ticks: {
                    maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: yAxisMax,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                    color: "rgba(0, 0, 0, .125)",
                    }
                }],
                },
                legend: {
                display: false
                }
            }
            });
        </script>
        <script type="text/javascript">
            var userPlan = "{{ subscription_item_id }}";
        </script>
        <script>
            var viewDetailsLink = document.getElementById('viewDetailsLink');

            viewDetailsLink.addEventListener(
                "click",
                function (event) {
                    if (userPlan == 'free') {
                        event.preventDefault();
                        myPopup.classList.add("show");
                    }
                }
            );

            window.addEventListener(
                "click",
                function (event) {
                    if (event.target == myPopup) {
                        myPopup.classList.remove("show");
                    }
                }
            );
        document.addEventListener('DOMContentLoaded', function() {
            // Using event delegation for both the page size selector and pagination links
            document.body.addEventListener('click', function(e) {
                if (e.target.matches('.datatable-selector')) {
                    e.preventDefault(); // Prevent the default select behavior
                    showUpgradePopup();
                } else if (e.target.matches('.datatable-pagination-list-item-link')) {
                    e.preventDefault(); // Prevent the default link behavior
                    showUpgradePopup();
                }
            });

            // Check if the .datatable-input element exists before adding the event listener
            var searchInput = document.querySelector('.datatable-input');
            if (searchInput) {
                searchInput.addEventListener('keyup', function(e) {
                    e.preventDefault(); // Prevent the default input behavior
                    showUpgradePopup();
                });
            }
        });

        var rows = document.querySelectorAll('.question-row');
        var counts = {like: 0, dislike: 0, none: 0};

        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            if (row.classList.contains('like')) {
                counts.like++;
            } else if (row.classList.contains('dislike')) {
                counts.dislike++;
            } else if (!row.classList.contains('like') && !row.classList.contains('dislike')) {
                counts.none++;
            }
        }
        console.log(counts);
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Like","Dislike", "No Feedback"],
                datasets: [{
                    data: [counts.like, counts.dislike, counts.none],
                    backgroundColor: ['#28a745', '#dc3545', 'grey'],
                }],
            },
            options: {
                onClick: function(evt, item) {
                    if (item.length > 0) {
                        var label = this.data.labels[item[0]._index];
                        for (var i = 0; i < rows.length; i++) {
                            var row = rows[i];
                            if (row.classList.contains(label.toLowerCase())) {
                                row.style.display = '';
                            } else {
                                row.style.display = 'none';
                            }
                        }
                    }
                }
            }
        });
        </script>
{% endblock %}