<!-- FILEPATH: /Users/philiphess_1/Desktop/Coding/HR_bot/hr_bot_demo/templates/home.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div class="banner">
        <a href="https://www.eccoai.org/">
            <img src="{{ url_for('static', filename='images/Ecco_logo.png') }}" alt="Ecco Logo" style="height: 75px; margin: 5px 20px;">
        </a>
        <button class="button_logout" onclick="location.href='https://app.eccoai.org/login'">Logout</button>
    </div>
    <section class="body">
        
        <div class="container">
            <div class="dashboard-metrics">
                <div class="metric-box">
                    <p>{{count}} Messages</p>
                </div>
                <div class="metric-box">
                    <p>0/30 Bots</p>
                </div>
                <div class="metric-box">
                    <p>Usage Reset Date: 3/15/2024</p>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <div class="middle_content">
                        <h1 class="chatbot-header">Chatbots</h1>
                        <ul>
                            {% for chatbot in chatbots %}
                                <a href="{{ url_for('admin', chatbot_id=chatbot[0]) }}">
                                    <li class="chatbot-box">
                                        {{ chatbot[1] }}
                                        <br>
                                        <hr>
                                        created on: 01/01/2021
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="eight columns">
                </div>
            </div>
        </div>
    </section>
</body>
</html>
