<!DOCTYPE html>
<html>
<head>
    <title>Inetgrations</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/integrations.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <div class="top-ribbon">
        <span class="company-name">
            <a href="https://www.eccoai.org/">
                <img src="{{ url_for('static', filename='images/logoword2.png') }}" alt="Company Logo">
            </a>
        </span>
    </div>
    <div class="sidenav">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <button class="btns" id="admin" title="Documents" onclick="openNav()"><img src="{{ url_for('static', filename='images/paper (1).png') }}" height="50" width="50" alt="Documents"></button>
        <button class="btns" id="settings" title="Settings" onclick="openNav()"><img src="{{ url_for('static', filename='images/setting (1).png') }}" height="50" width="50" alt="settings"></button>
        <button class="btns" id="integrations" title="Integrations" onclick="openNav()"><img src="{{ url_for('static', filename='images/integration (1).png') }}" height="50" width="50" alt="integration"></button>
        <button class="btns" id="analytics" title="Analytics" onclick="openNav()"><img src="{{ url_for('static', filename='images/data-analytics (1).png') }}" height="50" width="50" alt="analytics"></button>
        <button class="btns" id="usage" title="Usage" onclick="openNav()"><img src="{{ url_for('static', filename='images/usage-based-price (1).png') }}" height="50" width="50" alt="usage"></button>
    </div>
    <section id="sidepanel">
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('admin') }}" id="admin" class="mgn-top">Documents</a>
            <a href="{{ url_for('settings') }}" id="settings" class="mgn">Settings</a>
            <a href="{{ url_for('integrations') }}" id="integrations" class="mgn">Integrations</a>
            <a href="{{ url_for('analytics') }}" id="analytics" class="mgn">Analytics</a>
            <a href="#" id="usage">Usage</a>
        </div>
    </section>
    <h2 class="instructions">Popup Chat</h2>
    <p class="instructions">Copy and paste this code before the &lt;/body&gt; tag on your website:</p>
    <ul class="instructions">
        <li>To learn more about embedding this code onto your Webflow site, click the link <a href="https://university.webflow.com/lesson/custom-code-in-the-head-and-body-tags?topics=site-settings" target="_blank">here</a>.</li>
        <li>To learn more about embedding this code onto your Wordpress site, click the link <a href="https://wordpress.com/support/code/" target="_blank">here</a>.</li>
    </ul>
    <div class="code-container">
        <pre><code id="chatbot-code" class="language-javascript">
        &lt;img id="chatbot-button" src="https://app.eccoai.org/{{ url_for('static', filename='images/' + settings['widget_icon'] + '.png') }}" alt="Chat" style="width: 80px; height: 80px; position: fixed; bottom: 10px; right: 10px; z-index: 1000; cursor: pointer; transition: transform 0.3s ease-in-out;"&gt;

        &lt;iframe src="https://app.eccoai.org/{{ user_id }}" id="chatbot-iframe" frameborder="0" scrolling="no" width="400" height="700" style="display: none; position:fixed; bottom:80px; right:0; z-index:9999;"&gt;&lt;/iframe&gt;
        &lt;script&gt;
            var chatbotButton = document.getElementById('chatbot-button');
            chatbotButton.addEventListener('mouseover', function() {
                this.style.transform = 'scale(1.1)';
            });
            chatbotButton.addEventListener('mouseout', function() {
                this.style.transform = 'scale(1)';
            });
            document.getElementById('chatbot-button').addEventListener('click', function() {
                var iframe = document.getElementById('chatbot-iframe');
                if (iframe.style.display === 'none') {
                    iframe.style.display = 'block';
                    document.addEventListener('click', closeChatbotOnClickOutside);
                } else {
                    iframe.style.display = 'none';
                    document.removeEventListener('click', closeChatbotOnClickOutside);
                }
            });

            function closeChatbotOnClickOutside(event) {
                var chatbot = document.getElementById("chatbot-iframe");
                if (event.target.id !== 'chatbot-iframe' && event.target.id !== 'chatbot-button') {
                    closeChatbot();
                }
            }

            function closeChatbot() {
                var iframe = document.getElementById('chatbot-iframe');
                iframe.style.display = 'none';
                document.removeEventListener('click', closeChatbotOnClickOutside);
            }
        &lt;/script&gt;
        </code></pre>
        <button class="copy-btn" onclick="copyCode()" style="cursor: pointer;">Copy Code</button>
    </div>
    <script src="{{ url_for('static', filename='js/integrations.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-javascript.min.js"></script>
</body>
</html>
