<!DOCTYPE html>
<html>
<head>
    <title>Inetgrations</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/integrations.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <div class="top-ribbon">
        <span class="company-name">
            <a href="https://www.eccoai.org/">
                <img src="{{ url_for('static', filename='images/logoword2.png') }}" alt="Company Logo">
            </a>
        </span>
    </div>
    <div class="sidenav">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <button class="btns" id="admin" title="Documents" onclick="openNav()"><img src="{{ url_for('static', filename='images/paper (1).png') }}" height="50" width="50" alt="Documents"></button>
        <button class="btns" id="settings" title="Settings" onclick="openNav()"><img src="{{ url_for('static', filename='images/setting (1).png') }}" height="50" width="50" alt="settings"></button>
        <button class="btns" id="integrations" title="Integrations" onclick="openNav()"><img src="{{ url_for('static', filename='images/integration (1).png') }}" height="50" width="50" alt="integration"></button>
        <button class="btns" id="analytics" title="Analytics" onclick="openNav()"><img src="{{ url_for('static', filename='images/data-analytics (1).png') }}" height="50" width="50" alt="analytics"></button>
        <button class="btns" id="usage" title="Usage" onclick="openNav()"><img src="{{ url_for('static', filename='images/usage-based-price (1).png') }}" height="50" width="50" alt="usage"></button>
    </div>
    <section id="sidepanel">
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('admin', chatbot_id=chatbot_id) }}" id="admin" class="mgn-top">Documents</a>
            <a href="{{ url_for('settings', chatbot_id=chatbot_id) }}" id="settings" class="mgn">Settings</a>
            <a href="{{ url_for('integrations', chatbot_id=chatbot_id) }}" id="integrations" class="mgn">Integrations</a>
            <a href="{{ url_for('analytics', chatbot_id=chatbot_id) }}" id="analytics" class="mgn">Analytics</a>
            <a href="#" id="usage">Usage</a>
        </div>
    </section>
    <h2 class="instructions">Popup Chat</h2>
    <p class="instructions">Copy and paste this code before the &lt;/body&gt; tag on your website:</p>
    <ul class="instructions">
        <li>To learn more about embedding this code onto your Webflow site, click the link <a href="https://university.webflow.com/lesson/custom-code-in-the-head-and-body-tags?topics=site-settings" target="_blank">here</a>.</li>
        <li>To learn more about embedding this code onto your Wordpress site, click the link <a href="https://wordpress.com/support/code/" target="_blank">here</a>.</li>
    </ul>
    <div class="code-container">
        <pre><code id="chatbot-code" class="language-javascript">
            &lt;img id="chatbot-button" src="http://127.0.0.1:5000//static/images/{{ settings['widget_icon'] }}" alt="Chat" style="width: 80px; height: 80px; position: fixed; bottom: 10px; right: 10px; z-index: 1000; cursor: pointer; transition: transform 0.3s ease-in-out;"&gt;
            &lt;div id="p" style="display:{{popup_logic}};position:fixed;bottom:100px;right:15px;z-index:10000;background:#fff;border:1px solid #ccc;padding:10px;border-radius:5px;box-shadow:0 0 10px rgba(0,0,0,.1);">{{ settings['popup_message'] }}&lt;/div&gt;
            &lt;span id="c" style="display:none;position:fixed;bottom:128px;right:10px;z-index:10001;cursor:pointer;padding:2px 6px;border-radius:10px;background-color:#dadada;font-family: arial;color: #4e4e4e;"&gt;x&lt;/span&gt;
            &lt;script&gt;
            var p=document.getElementById('p'),c=document.getElementById('c');
            p.onmouseover=c.onmouseover=function(){c.style.display='block'};
            p.onmouseout=function(){c.style.display='none'};
            c.onclick=function(){p.style.display=c.style.display='none'};
            &lt;/script&gt;
            &lt;iframe src="http://127.0.0.1:5000/17/11" id="chatbot-iframe" frameborder="0" scrolling="no" width="400" height="700" style="display: none; position:fixed; bottom:80px; right:0; z-index:9999;"&gt;&lt;/iframe&gt;
            &lt;script&gt;
            var b=document.getElementById('chatbot-button'),i=document.getElementById('chatbot-iframe');
            b.onmouseover=function(){this.style.transform='scale(1.1)'};
            b.onmouseout=function(){this.style.transform='scale(1)'};
            b.onclick=()=>{
                i.style.display=i.style.display==='none'?'block':'none';
                if (i.style.display === 'block') {
                    p.style.display = 'none';
                }
                document[i.style.display==='block'?'addEventListener':'removeEventListener']('click',d);
            };
            d=e=>{if(e.target.id!=='chatbot-iframe'&&e.target.id!=='chatbot-button')i.style.display='none',document.removeEventListener('click',d)};
            &lt;/script&gt;
        </code></pre>
        <button class="copy-btn" onclick="copyCode()" style="cursor: pointer;">Copy Code</button>
    </div>
    <script src="{{ url_for('static', filename='js/integrations.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-javascript.min.js"></script>


    

</body>
</html>
