<!DOCTYPE html>
<html>
<head>
    <title>IU HR</title>
</head>
<body>

    <img id="chatbot-button" src="https://hr-bot-beast-aa887886e420.herokuapp.com/static/images/chatboticon.png" alt="Chat" style="width: 80px; height: 80px; position: fixed; bottom: 10px; right: 10px; z-index: 1000; cursor: pointer; transition: transform 0.3s ease-in-out;">

    <iframe src="https://hr-bot-beast-aa887886e420.herokuapp.com/11" id="chatbot-iframe" frameborder="0" scrolling="no" width="400" height="700" style="display: none; position:fixed; bottom:80px; right:0; z-index:9999;"></iframe>
    <script>
        var chatbotButton = document.getElementById('chatbot-button');
        chatbotButton.addEventListener('mouseover', function() {
            this.style.transform = 'scale(1.1)';
        });
        chatbotButton.addEventListener('mouseout', function() {
            this.style.transform = 'scale(1)';
        });
        document.getElementById('chatbot-button').addEventListener('click', function() {
            var iframe = document.getElementById('chatbot-iframe');
            if (iframe.style.display === 'none') {
                iframe.style.display = 'block';
                // Add the event listener when the chatbot is opened
                document.addEventListener('click', closeChatbotOnClickOutside);
            } else {
                iframe.style.display = 'none';
                // Remove the event listener when the chatbot is closed
                document.removeEventListener('click', closeChatbotOnClickOutside);
            }
        });

        function closeChatbotOnClickOutside(event) {
            var chatbot = document.getElementById("chatbot-iframe");
            // Check if the click was outside the chatbot
            if (event.target.id !== 'chatbot-iframe' && event.target.id !== 'chatbot-button') {
                closeChatbot();
            }
        }

        function closeChatbot() {
            var iframe = document.getElementById('chatbot-iframe');
            iframe.style.display = 'none';
            // Remove the event listener when the chatbot is closed
            document.removeEventListener('click', closeChatbotOnClickOutside);
        }
    </script>
</body>
</html>
