<!doctype html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="top-ribbon">
    <span class="company-name">EccoAI</span>
  </div>

  <form method="post">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    
    <button type="submit">Login</button>
  </form>

</body>
</html>