<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="top-ribbon">
        <span class="company-name">
            <a href="https://www.eccoai.org/">
                <img src="{{ url_for('static', filename='images/logoword2.png') }}" alt="Company Logo">
            </a>
        </span>
    </div>
    <div class="sidenav">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <button class="btns" id="admin" title="Documents" onclick="openNav()"><img src="{{ url_for('static', filename='images/paper (1).png') }}" height="50" width="50" alt="Documents"></button>
        <button class="btns" id="settings" title="Settings" onclick="openNav()"><img src="{{ url_for('static', filename='images/setting (1).png') }}" height="50" width="50" alt="settings"></button>
        <button class="btns" id="integrations" title="Integrations" onclick="openNav()"><img src="{{ url_for('static', filename='images/integration (1).png') }}" height="50" width="50" alt="integration"></button>
        <button class="btns" id="analytics" title="Analytics" onclick="openNav()"><img src="{{ url_for('static', filename='images/data-analytics (1).png') }}" height="50" width="50" alt="analytics"></button>
        <button class="btns" id="usage" title="Usage" onclick="openNav()"><img src="{{ url_for('static', filename='images/usage-based-price (1).png') }}" height="50" width="50" alt="usage"></button>
    </div>
    <section id="sidepanel">
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('admin') }}" id="admin" class="mgn">Documents</a>
            <a href="{{ url_for('settings') }}" id="settings">Settings</a>
            <a href="{{ url_for('integrations') }}" id="integrations">Integrations</a>
            <a href="{{ url_for('analytics') }}" id="analytics">Analytics</a>
            <a href="#" id="usage">Usage</a>
        </div>
            
            
    </section>
    <div id="settings-box">

        <div id="settings-page">
            <div class="button-holder">
            <button class="button-35 selected" onclick="showPage('styling-settings')">Styling Settings</button>
            <button class="button-35" onclick="showPage('system-settings')">System Settings</button>
        </div>
            
            <div id="styling-settings" class="subpage">
                <form id="settingsForm" action="/update_chatbot_settings" method="post" style="width: 2000px; height: 2000px;">
                    <div class="info-bundle">
                        <h2 class="instructions"><b>Chatbot Settings</b></h2>
                        <div class="tooltip-container">
                            <img src="{{ url_for('static', filename='images/info-button.png') }}" alt="Info" class="info-button">
                            <div class="tooltip-text">Change the settings and your system preferences below then click the save button:</div>
                        </div>   
                    </div>         
                    <div class="settings-section">
                        <h3>Styling</h3>
                        <label>Widget Icon:</label><br>
                        <div id="widget_icon">
                            <label for="icon1">
                                <input type="radio" id="icon1" name="widget_icon" value="chatboticon" {% if settings['widget_icon'] == 'chatboticon' %}checked{% endif %}>
                                <img src="{{ url_for('static', filename='images/chatboticon.png') }}" alt="Icon 1">
                            </label>
                            <label for="icon2">
                                <input type="radio" id="icon2" name="widget_icon" value="chatbot2" {% if settings['widget_icon'] == 'chatbot2' %}checked{% endif %}>
                                <img src="{{ url_for('static', filename='images/chatbot2.png') }}" alt="Icon 2">
                            </label>
                            <label for="icon3">
                                <input type="radio" id="icon3" name="widget_icon" value="chatbot3" {% if settings['widget_icon'] == 'chatbot3' %}checked{% endif %}>
                                <img src="{{ url_for('static', filename='images/chatbot3.png') }}" alt="Icon 3">
                            </label>
                            <label for="icon4">
                                <input type="radio" id="icon4" name="widget_icon" value="chatbot4" {% if settings['widget_icon'] == 'chatbot4' %}checked{% endif %}>
                                <img src="{{ url_for('static', filename='images/chatbot4.png') }}" alt="Icon 4">
                            </label>
                        </div><br><br>
        
                        <label for="background_color">Background Color:</label>
                        <input type="color" id="background_color" name="background_color" value="{{ settings['background_color'] }}"><br><br>
        
                        <label for="title_color">Title Color:</label>
                        <input type="color" id="title_color" name="title_color" value="{{ settings['title_color'] }}"><br><br>
        
                        <label for="border_color">Border Color:</label>
                        <input type="color" id="border_color" name="border_color" value="{{ settings['border_color'] }}"><br><br>
        
                        <label for="chatbot_title">Chatbot Title:</label>
                        <input type="text" id="chatbot_title" name="chatbot_title" value="{{ settings['chatbot_title'] }}" maxlength="20"><br>
                        <em><small>Must be no more than 20 characters.</small></em><br><br>

                        <label for="dot_color">Dot Color:</label>
                        <input type="color" id="dot_color" name="dot_color" value="{{ settings['dot_color'] }}"><br><br>
        
                        <label for="logo">Logo URL:</label>
                        <input type="text" id="logo" name="logo" value="{{ settings['logo'] }}"><br>
                        <em><small>Must be a valid URL. <a href="https://www.wikihow.com/Get-the-URL-for-Pictures#:~:text=Things%20You%20Should%20Know,%2C%20or%20%22Copy%20Link.%22" target="_blank">Need help?</a></small></em><br><br>
                        
                        
                        <label for="font_style">Font Style:</label>
                        <select id="font_style" name="font_style">
                            <option value="Arial" {% if settings['font_style'] == 'Arial' %}selected{% endif %}>Arial</option>
                            <option value="Verdana" {% if settings['font_style'] == 'Verdana' %}selected{% endif %}>Verdana</option>
                            <option value="Times New Roman" {% if settings['font_style'] == 'Times New Roman' %}selected{% endif %}>Times New Roman</option>
                            <!-- Add more font options here -->
                        </select><br><br>
                        
                    </div>
                    <input type="submit" value="Save Settings">
            </div>

            <div id="system-settings" class="subpage">
                <div class="info-bundle">
                    <h2 class="instructions"><b>Chatbot Settings</b></h2>
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename='images/info-button.png') }}" alt="Info" class="info-button">
                        <div class="tooltip-text">Change the settings and your system preferences below then click the save button:</div>
                    </div>   
                </div>  
                <div class="settings-section1">
                    <h3>System Settings</h3>
                    <label for="bot_temperature">Bot Temperature:</label>
                    <span id="bot_temperature_value">{{ settings['bot_temperature'] }}</span> <!-- Add this line -->
                    <div class="range-container"> <!-- Add this line -->
                        <span>More Accurate</span>
                        <input type="range" id="bot_temperature" name="bot_temperature" min="0" max="1" step="0.1" value="{{ settings['bot_temperature'] }}">
                        <span>More Creative</span>
                    </div><br>

                    <label for="greeting_message">Greeting Message:</label>
                    <textarea id="greeting_message" name="greeting_message" rows="4" cols="50" maxlength="500">{{ settings['greeting_message'] }}</textarea>
                    <em><small>Must be no more than 250 characters.</small></em><br><br>

                    <label for="custom_prompt">Custom Prompt:</label>
                    <textarea id="custom_prompt" name="custom_prompt" rows="4" cols="50" maxlength="1000">{{ settings['custom_prompt'] }}</textarea>
                    <em><small>Must be no more than 1000 characters.</small></em><br><br>
                </div>

                <input type="submit" value="Save Settings">
    
                
            </div>
            
            </form>
        </div>
        
        

            
    </div>



    <img id="chatbot-button" src="https://app.eccoai.org/static/images/{{ settings.widget_icon }}.png" alt="Chat" style="width: 80px; height: 80px; position: fixed; bottom: 10px; right: 10px; z-index: 1000; cursor: pointer; transition: transform 0.3s ease-in-out;">
    <iframe src="https://app.eccoai.org/{{ user_id }}" id="chatbot-iframe" frameborder="0" scrolling="no" width="400" height="700" style="display: none; position:fixed; bottom:80px; right:0; z-index:9999;"></iframe>
    <script>
        var chatbotButton = document.getElementById('chatbot-button');
        chatbotButton.addEventListener('mouseover', function() {
            this.style.transform = 'scale(1.1)';
        });
        chatbotButton.addEventListener('mouseout', function() {
            this.style.transform = 'scale(1)';
        });
        document.getElementById('chatbot-button').addEventListener('click', function() {
            var iframe = document.getElementById('chatbot-iframe');
            if (iframe.style.display === 'none') {
                iframe.style.display = 'block';
            } else {
                iframe.style.display = 'none';
            }
        });

        function closeChatbot() {
            var iframe = document.getElementById('chatbot-iframe');
            iframe.style.display = 'none';
        }
    </script>      
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>
</html>
