<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body>
    <div class="top-ribbon">
        <a href="{{ url_for('home') }}" class="button-home">HOME</a>
        <span class="company-name">
            <a href="https://www.eccoai.org/">
                <img src="{{ url_for('static', filename='images/logoword2.png') }}" alt="Company Logo">
            </a>
        </span>
    </div>
    <div class="sidenav">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <button class="btns" id="admin" title="Documents" onclick="openNav()"><img src="{{ url_for('static', filename='images/paper (1).png') }}" height="50" width="50" alt="Documents"></button>
        <button class="btns" id="settings" title="Settings" onclick="openNav()"><img src="{{ url_for('static', filename='images/setting (1).png') }}" height="50" width="50" alt="settings"></button>
        <button class="btns" id="integrations" title="Integrations" onclick="openNav()"><img src="{{ url_for('static', filename='images/integration (1).png') }}" height="50" width="50" alt="integration"></button>
        <button class="btns" id="analytics" title="Analytics" onclick="openNav()"><img src="{{ url_for('static', filename='images/data-analytics (1).png') }}" height="50" width="50" alt="analytics"></button>
    </div>
    <section id="sidepanel">
        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('admin', chatbot_id=chatbot_id) }}" id="admin" class="mgn-top">Documents</a>
            <a href="{{ url_for('settings', chatbot_id=chatbot_id) }}" id="settings" class="mgn">Settings</a>
            <a href="{{ url_for('integrations', chatbot_id=chatbot_id) }}" id="integrations" class="mgn">Integrations</a>
            <a href="{{ url_for('analytics', chatbot_id=chatbot_id) }}" id="analytics" class="mgn">Analytics</a>
        </div>
            
            
    </section>
    <div id="settings-box">

        <div id="settings-page">
            <div class="button-holder">
            <button class="button-35 selected" onclick="showPage('styling-settings')">Styling Settings</button>
            <button class="button-35" onclick="showPage('system-settings')">System Settings</button>
            <button class="button-35" onclick="showPage('faq-settings')">FAQ</button>
        </div>
        <form id="settingsForm" action="{{ url_for('update_chatbot_settings', chatbot_id=chatbot_id) }}" method="post" enctype="multipart/form-data">
            <div id="styling-settings" class="subpage">
                <div class="info-bundle">
                    <h2 class="instructions"><b>Chatbot Settings</b></h2>
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename='images/info-button.png') }}" alt="Info" class="info-button">
                        <div class="tooltip-text">Change the styling settings below to match your ideal branding, then click the save button.</div>
                    </div>   
                </div>         
                <div class="settings-container">
                    <div class="settings-section">
                        <h3>Styling</h3>
                        
                        <input type="color" id="title_color" name="title_color" value="{{ settings['title_color'] }}">
                        <label for="title_color">Title Font Color.</label>
                        <br><br>
                        
                        <input type="color" id="border_color" name="border_color" value="{{ settings['border_color'] }}">
                        <label for="border_color">Banner Backround Color.</label>
                        <br><br>

                        <input type="color" id="background_color" name="background_color" value="{{ settings['background_color'] }}">
                        <label for="background_color">Chatbot Background Color.</label>
                        <br><br>
                        
                        <input type="color" id="dot_color" name="dot_color" value="{{ settings['dot_color'] }}">
                        <label for="dot_color">Dot Animation Color.</label>
                        <br><br>

                        <input type="color" id="bot_bubble_color" name="bot_bubble_color" value="{{ settings['bot_bubble_color'] }}">
                        <label for="bot_bubble_color">Bot Text Bubble Color.</label>
                        <br><br>
                
                        <input type="color" id="user_bubble_color" name="user_bubble_color" value="{{ settings['user_bubble_color'] }}">
                        <label for="user_bubble_color">User Text Bubble Color.</label>
                        <br><br>
                        
                        <label for="chatbot_title">Chatbot Title:</label>
                        <input type="text" id="chatbot_title" name="chatbot_title" value="{{ settings['chatbot_title'] }}" maxlength="20"><br>
                        <em><small>Must be no more than 20 characters.</small></em><br><br>
                        
                        <label for="popup_message">Pop Up Message:</label><br>
                        <input type="text" id="popup_message" name="popup_message" value="{{ settings['popup_message'] }}" style="min-width: 300px;">
                        <br><em><small>Must be no more than 50 characters.</small></em><br>
                    </div>
                    <div class="settings-section">
                        <h3>Branding</h3>

                        <label for="logo">Chatbot Name:</label><br>
                        <input type="text" id="chatbot_name" name="chatbot_name" value="{{ settings['chatbot_name'] }}" maxlength="20"><br>
                        <em><small>Must be no more than 20 characters.</small></em><br><br>

                        <label for="logo">Logo:</label><br>
                        <img id="currentLogo" src="{{ settings['logo'] }}" alt="Current Logo" style="width: 100px; height: 100px;">
                        <input type="file" id="logo" name="logo" accept="image/png" {% if user_plan == 'price_1P9FIULO2ToUaMQEmx2wG1qC' %}disabled{% endif %}><br>
                        
                        <br>
                        <label for="font_style">Font Style:</label>
                        <select id="font_style" name="font_style">
                            {% set font_options = ['Arial', 'Verdana', 'Times New Roman', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Trebuchet MS', 'Comic Sans MS', 'Palatino Linotype', 'Arial Black', 'Book Antiqua', 'Garamond', 'Courier', 'Franklin Gothic Medium', 'Copperplate', 'Century Gothic', 'Rockwell', 'Baskerville', 'Californian FB', 'Candara', 'Consolas', 'Ebrima', 'Cambria', 'MS Gothic', 'MS Mincho'] %}
                            {% for font in font_options %}
                                <option value="{{ font }}" style="font-family: '{{ font }}';" {% if settings['font_style'] == font %}selected{% endif %}>{{ font }}</option>
                            {% endfor %}
                        </select><br><br>
                        <label>Widget Icon:</label><br>
                        <img id="selected-icon" src="{{ url_for('static', filename='images/' + settings['widget_icon']) }}" alt="Selected Icon" height="100px" width="100px">
                        <br>
                        <select id="icon-select" name="icon-select" style="width: 200px;">
                            <option value="{{settings['widget_icon']}}" selected data-icon="{{ url_for('static', filename='images/' + settings['widget_icon']) }}">Current</option>
                            <option value="ecco_icon.svg" data-icon="{{ url_for('static', filename='images/ecco_icon.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon.svg') %}selected{% endif %}>Lime</option>
                            <option value="ecco_icon_black.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_black.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_black.svg') %}selected{% endif %}>Black</option>
                            <option value="ecco_icon_blue.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_blue.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_blue.svg') %}selected{% endif %}>Blue</option>
                            <option value="ecco_icon_grey.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_grey.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_grey.svg') %}selected{% endif %}>Grey</option>
                            <option value="ecco_icon_orange.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_orange.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_orange.svg') %}selected{% endif %}>Orange</option>
                            <option value="ecco_icon_purple.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_purple.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_purple.svg') %}selected{% endif %}>Purple</option>
                            <option value="ecco_icon_red.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_red.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_red.svg') %}selected{% endif %}>Red</option>
                            <option value="ecco_icon_yellow.svg" data-icon="{{ url_for('static', filename='images/ecco_icon_yellow.svg') }}" {% if settings['widget_icon'] == url_for('static', filename='images/ecco_icon_yellow.svg') %}selected{% endif %}>Yellow</option>
                        </select>
                    </div>
                </div> 
            </div>  
            <div id="system-settings" class="subpage">
                <div class="info-bundle">
                    <h2 class="instructions"><b>System Settings</b></h2>
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename='images/info-button.png') }}" alt="Info" class="info-button">
                        <div class="tooltip-text">Change the system preferences below to curate the bot experience you desire, then click the save button.</div>
                    </div>   
                </div>  
                <div class="settings-section1">
                    <h3>Settings</h3>
                    <label for="bot_temperature">Bot Temperature:</label>
                    <span id="bot_temperature_value">{{ settings['bot_temperature'] }}</span> <!-- Add this line -->
                    <div class="range-container"> <!-- Add this line -->
                        <span>More Accurate</span>
                        <input type="range" id="bot_temperature" name="bot_temperature" min="0" max="1" step="0.1" value="{{ settings['bot_temperature'] }}">
                        <span>More Creative</span>
                    </div><br>

                    <label for="bot_LLM">Assistant LLM:</label>
                    <select id="bot_LLM" name="bot_LLM" {% if user_plan =='price_1P9FIULO2ToUaMQEmx2wG1qC' %}disabled{% endif %}>
                        <option value="gpt-3.5-turbo" {% if settings['LLM'] == 'gpt-3.5-turbo' %}selected{% endif %}>GPT 3.5 Turbo</option>
                        <option value="gpt-4-turbo" {% if settings['LLM'] == 'gpt-4-turbo' %}selected{% endif %}>GPT 4.0 Turbo</option>
                    </select><br><br>

                    <label for="greeting_message">Greeting Message:</label>
                    <textarea id="greeting_message" name="greeting_message" rows="4" cols="50" maxlength="500">{{ settings['greeting_message'] }}</textarea>
                    <em><small>Must be no more than 250 characters.</small></em><br><br>

                    <label for="custom_prompt">Custom Prompt:</label>
                    <textarea id="custom_prompt" name="custom_prompt" rows="4" cols="50" maxlength="1000">{{ settings['custom_prompt'] }}</textarea>
                    <em><small>Must be no more than 1000 characters.</small></em><br><br>
                </div>
            </div>
            <div id="faq-settings" class="subpage">
                <div class="info-bundle">
                    <h2 class="instructions"><b>FAQ Settings</b></h2>
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename='images/info-button.png') }}" alt="Info" class="info-button">
                        <div class="tooltip-text">Use this section to have predefined questions and answers to give the user a precise answer to the most common questions for your needs.</div>
                    </div>
                </div>
                <div class="settings-section1">
                    <h3>Pre-made Questions</h3>
                    <div id="premade-questions-container">
                        {% for id, question, response in premade_questions %}
                        <div class="premade-question" data-saved="true" id="question_{{ id }}">
                            <input type="hidden" name="premade_question_ids[]" value="{{ id }}">
                            <label for="premade_question_{{ loop.index }}">Question:</label>
                            <input type="text" id="premade_question_{{ loop.index }}" name="premade_questions[]" value="{{ question }}" required readonly>
                            <label for="premade_response_{{ loop.index }}">Response:</label>
                            <input type="text" id="premade_response_{{ loop.index }}" name="premade_responses[]" value="{{ response }}" required readonly>
                            <button type="button" class="delete-premade-question">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="button" id="add-premade-question">Add another question</button>
                </div>
            </div> 
            <input type="submit" value="Save Settings">          
        </form>           
    </div>
    <script type="text/javascript" src="https://app.eccoai.org/{{ user_id }}/{{ chatbot_id }}/popup.js"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>
</html>
