<!doctype html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
    <style>
        .flash-message {
            color: #FF0000; /* Change color as needed */
            font-size: 1em; /* Change font size as needed */
            transition: opacity 0.5s; /* Change transition speed as needed */
            text-align: center; /* Center the text */
            margin-top: 20px; /* Add some space above the message */
        }
    </style>
    <script>
        setTimeout(function() {
            var msg = document.getElementById('flash-msg');
            msg.style.opacity = "0";
        }, 12000); /* Change time as needed */
    </script>
</head>
<body>
    <div class="main-content">
        <div class="form-container">
            <img class="company-logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="EccoAI">
            <form method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <label for="code">Verification Code</label>
                <input type="text" id="code" name="code" required>

                <button type="submit">Sign Up</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="flash-msg" class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='images/zebrastripes.png') }}">
        </div>
    </div>
</body>
</html>